.homebtn {
    position: fixed;
    overflow: auto;
    text-align: center;
    height: 40px;
    width: 90px;
    font-size: 30px;
    background-color: #ffffff;
    color: black;
    border-radius: 1px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    transition: all 0.6s ease;
    left: 100px;
    bottom: 70px;
}

.homebtn:hover {
    display: block;
    align-self: center;
    background-color: #6b6b6b;
    border-radius: 3px;

}