* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    background-repeat: repeat;
}

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 70px;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-bottom: 50px;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80vw;
    margin: 0px auto;
    padding: 0px 50px;
}

.header__title {
    display: block;
    color: black;
    font-size: 30px;
    cursor: default;
}

.header__popbtn {
    display: block;
    height: 70px;
    width: 70px;
    outline: none;
    border: none;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.header__popbtn img {
    height: 50px;
    width: auto;
}

.header__popbtn:hover {
    cursor: pointer;
    background-color: #a3a3a3;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 101;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity 300ms ease-in;
    pointer-events: none;

}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup__body {
    display: flex;
    flex-direction: column;
    margin: 6% auto;
    padding: 25px;
    width: 25vw;
    background: #ffffff;
    border-radius: 25px;
}

.popup__body__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;
    max-width: 100%;
    margin-bottom: 20px;
}

.popup__body__main {
    display: flex;
    min-height: 80px;
}

.popup__body__close-btn {
    display: block;
    font-size: 30px;
    width: 10px;
    cursor: pointer;
    border: none;
    transition: 0.1s ease-in-out;
}

.popup__body__close-btn:hover {
    color: #afafaf;
}

.popup__body__title {
    display: block;
    font-size: 28px;
    color: #6b6b6b;
}

.popup__body__border {
    width: 95%;
    align-self: center;
    border-top: 1px solid black;
}

.popup__body__logout {
    display: block;
    border: none;
    background-color: #d3d3d3;
    color: black;
    font-size: 20px;
    border-radius: 0px 0px 25px 25px;
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: -25px;
    margin-right: -25px;
    padding: 13px;
    text-align: center;
    transition: 0.1s all ease-in-out;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.popup__body__logout:hover {
    background-color: #f1f1f1;
}